<app-toolbar [title]='title'></app-toolbar>
    <!-- Page Content -->
    <div class="container">
  
      <div class="row">
          <div class="col-md-6">
        <app-editor></app-editor>
        </div><div class="col-md-6">
        <app-preview></app-preview>
      </div>
  
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; BSU SDD Fall 2017</p>
      </div>
      <!-- /.container -->
    </footer>